Repository woowa-techcamp-2020/hkb-8, pull requests merged in 2020-08, with the labels that each got.

#19 frontend/#10/piechart 파이 그래프 개선(텍스트 표시 관련)
  frontend/src/chartApp/chartApp.scss
  frontend/src/component/graph/pieChart.js
  frontend/src/component/graph/svgUtil.js
  frontend/src/utils/element.js
  frontend/webpack.config.js
Labels: frontend

#24 Frontend/#22/piechart shadow
  frontend/src/chartApp/chartApp.js
  frontend/src/component/graph/pieChart.js
  frontend/src/component/graph/svgUtil.js
Labels: frontend

#23 Frontend/#21/calender main
  frontend/src/app/app.js
  frontend/src/calender/calenderApp.js
  frontend/src/calender/index.html
  frontend/src/component/body/input/input.js
  frontend/src/component/body/input/input.scss
  frontend/src/component/body/input/inputHandler.js
  frontend/src/component/body/tap/tab.js
  frontend/src/component/body/tap/tabHandler.js
  frontend/src/component/calender/calender.js
  frontend/src/component/calender/calender.scss
  frontend/src/component/header/headerHandler.js
  frontend/src/component/history/history.js
  frontend/src/component/history/history.scss
  frontend/src/component/paymentModal/paymentModal.js
  frontend/src/component/paymentModal/paymentModal.scss
Labels: frontend, javascript, markup, refactor

#26 Frontend/#20/router 1차
  frontend/src/app.js
  frontend/src/app/app.js
  frontend/src/calender/calenderApp.js
  frontend/src/chartApp/chartApp.js
  frontend/src/component/body/input/input.js
  frontend/src/component/body/tap/tab.js
  frontend/src/component/body/tap/tabHandler.js
  frontend/src/component/calender/calender.js
  frontend/webpack.config.js
Labels: frontend

#27 frontend/#20/router 차트 탭 들어갈때마다 파이차트 갯수가 늘어나는 버그 수정
  frontend/src/component/graph/pieChart.js
Labels: frontend

#29 frontend/#28/routeUpdate 라우터 개선
  frontend/src/app.js
  frontend/src/app/app.js
  frontend/src/calender/calenderApp.js
  frontend/src/chartApp/chartApp.js
  frontend/src/component/body/body.js
  frontend/src/component/body/tap/tab.js
  frontend/src/component/body/tap/tabHandler.js
  frontend/src/component/calender/calender.js
  frontend/src/component/graph/barGraph.js
  frontend/src/component/graph/pieChart.js
  frontend/src/component/header/header.js
  frontend/src/router.js
  frontend/src/utils/appendChildren.js
Labels: frontend

#30 frontend/#28/routerUpdate [update] appendChildren 제거
  frontend/src/component/body/input/input.js
  frontend/src/component/body/tap/tab.js
  frontend/src/component/calender/calender.js
  frontend/src/component/header/header.js
  frontend/src/component/history/history.js
  frontend/src/component/paymentModal/paymentModal.js
Labels: frontend

#31 Backend/#25/record api
  frontend/src/component/history/history.js
  frontend/src/utils/api.js
  frontend/src/utils/handleElement.js
  server/src/api/index.ts
  server/src/api/record/recordController.ts
  server/src/api/record/recordRouter.ts
  server/src/db/query.ts
Labels: backend, frontend

#34 Fullstack/#32/history add
  frontend/src/component/body/input/input.js
  frontend/src/component/body/input/input.scss
  frontend/src/component/body/input/inputHandler.js
  frontend/src/component/history/history.js
  frontend/src/component/history/history.scss
  frontend/src/model.js
  frontend/src/utils/handleElement.js
  server/src/api/index.ts
  server/src/api/payment/paymentController.ts
  server/src/api/payment/paymentRouter.ts
  server/src/db/query.ts
Labels: api, backend, frontend, javascript

#36 Frontend/#33/calendar
  frontend/src/component/body/tap/tab.js
  frontend/src/component/body/tap/tab.scss
  frontend/src/component/body/tap/tabHandler.js
  frontend/src/component/calender/calender.js
  frontend/src/component/calender/calender.scss
  frontend/src/utils/mockData.json
Labels: frontend, javascript

#37 Frontend/#35/model
  frontend/src/app.js
  frontend/src/component/body/body.js
  frontend/src/component/body/input/input.js
  frontend/src/component/body/tap/tab.js
  frontend/src/component/body/tap/tabHandler.js
  frontend/src/component/calender/calender.js
  frontend/src/component/history/history.js
  frontend/src/model.js
  frontend/src/router.js
  frontend/src/utils/api.js
  server/src/api/payment/paymentRouter.ts
  server/src/api/record/recordRouter.ts
Labels: backend, frontend, javascript

#39 frontend/#38/historyChange 월 변경시 변경된 월 반영되어 거래 내역 출력되도록 수정함
  frontend/src/app/app.js
  frontend/src/component/history/history.js
Labels: frontend, javascript

#42 Frontend/#40/tap update
  frontend/src/app.js
  frontend/src/app/app.js
  frontend/src/component/body/input/input.scss
  frontend/src/component/body/tap/tab.js
  frontend/src/component/body/tap/tab.scss
  frontend/src/component/calender/calender.js
  frontend/src/component/calender/calender.scss
  frontend/src/component/history/history.scss
  frontend/src/component/totalInOutcome/TotalInOutcome.js
  frontend/src/component/totalInOutcome/totalInOutcome.scss
  frontend/src/utils/handleElement.js
Labels: frontend, javascript

#43 Fullstack/#32/history add
  frontend/src/app.js
  frontend/src/app/app.js
  frontend/src/component/body/input/input.js
  frontend/src/component/body/input/inputHandler.js
  frontend/src/component/calender/calender.js
  frontend/src/component/history/history.js
  frontend/src/model.js
  frontend/src/utils/etc.js
  server/src/api/record/recordController.ts
  server/src/api/record/recordRouter.ts
  server/src/db/mysql.ts
  server/src/db/query.ts
Labels: backend, database, frontend, javascript

#45 fontend/#44/fix 거래내역 수정 버그 수정
  frontend/src/app/app.js
Labels: frontend

#48 frontend/#47/decoText 금액에 +,- 문자 추가, 거래내역 글자 on, off추가
  frontend/src/component/body/input/input.js
  frontend/src/component/body/tap/tabHandler.js
  frontend/src/component/calender/calender.js
  frontend/src/component/history/history.js
  frontend/src/component/history/history.scss
  frontend/src/component/totalInOutcome/TotalInOutcome.js
  frontend/src/utils/createElement.js
  frontend/src/utils/etc.js
Labels: frontend, javascript, markup

#53 Backend/#51/delete record api
  frontend/src/model.js
  server/src/api/record/recordController.ts
  server/src/api/record/recordRouter.ts
Labels: backend

#52 Frontend/#46/update style
  frontend/src/component/body/input/input.js
  frontend/src/component/body/input/input.scss
  frontend/src/component/calender/calender.js
  frontend/src/component/calender/calender.scss
  frontend/src/component/history/history.js
  frontend/src/component/history/history.scss
  frontend/src/component/totalInOutcome/totalInOutcome.scss
Labels: frontend, javascript

#50 frontend/#49/graphAndData 파이차트, 바그래프 데이터 연동
  frontend/src/app.js
  frontend/src/chartApp/chartApp.js
  frontend/src/component/graph/barGraph.js
  frontend/src/component/graph/pieChart.js
  frontend/src/model.js
Labels: frontend

#55 [update][#54] 스타일 수정
  frontend/src/chartApp/chartApp.js
  frontend/src/chartApp/chartApp.scss
  frontend/src/component/body/input/input.scss
  frontend/src/component/calender/calender.scss
  frontend/src/component/history/history.js
  frontend/src/component/history/history.scss
Labels: frontend

#56 frontend/#54/style 달력 스타일 수정
  frontend/src/component/calender/calender.js
  frontend/src/component/calender/calender.scss
Labels: frontend
