Repository woowa-techcamp-2020/hkb-8, pull requests merged in 2020-07, with the labels that each got.

#6 Frontend/#1 1/env setting
  .gitignore
  .idea/.gitignore
  .idea/hkb-8.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  frontend/.eslintrc.js
  frontend/add.js
  frontend/babel.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.js
  frontend/src/app.scss
  frontend/src/bori.jpg
  frontend/src/math.js
  frontend/src/woowa.png
  frontend/webpack.config.js
Labels: env, frontend

#9 Backend/#8/passport
  server/.gitignore
  server/package-lock.json
  server/package.json
  server/src/api/auth/authController.ts
  server/src/api/auth/authRouter.ts
  server/src/api/index.ts
  server/src/api/login/loginController.ts
  server/src/api/login/loginRouter.ts
  server/src/api/user/userRouter.ts
  server/src/config/index.ts
  server/src/db/memberDAO.ts
  server/src/db/mysql.ts
  server/src/db/query.ts
  server/src/index.ts
  server/src/loader/index.ts
  server/src/service/passport.ts
Labels: backend, env

#12 Frontend/#7/header
  frontend/.eslintrc.js
  frontend/add.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.js
  frontend/src/app.scss
  frontend/src/bori.jpg
  frontend/src/component/header/header.js
  frontend/src/component/header/header.scss
  frontend/src/component/header/headerHandler.js
  frontend/src/component/input/input.js
  frontend/src/component/input/input.scss
  frontend/src/component/tap/tap.js
  frontend/src/component/tap/tap.scss
  frontend/src/component/tap/tapHandler.js
  frontend/src/math.js
  frontend/src/utils/createChildren.js
  frontend/src/utils/createElement.js
  frontend/src/utils/reset.scss
  frontend/src/woowa.png
  frontend/webpack.config.js
Labels: frontend, markup
